.Result__container{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;

    align-items: center;
}

.Result__content{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Result__AdviseCopout{
    height: 43px;
    width: 294px;
    padding: 12px 32px 12px 32px;
    border: none;
    color: #4674F6;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    margin-top: 24px;
    opacity: 50%;
}

.Result__AdviseCopout:hover{
    opacity: 100%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.Result__contentContainer{
    background-color: #4674F6;
    position: relative;
    width: 1146px;
    height: auto;

    padding-bottom: 40px;
    padding-top: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Result__icon{
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
}

.Result__popUpAttention{
    color: #fff;
}

.Result__otmazka{
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
    text-align: center;
    color: #fff;
    max-width: 926px;
}

.Result__copy{
    height: 48px;
    width: 428px;
    padding: 12px 100px 12px 100px;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
}

.Result__changeText{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 24px;
}


.form__sendButton{
    height: 42px;
    width: 552px;
    padding: 6px 16px 6px 16px;
    background-color: rgba(49, 100, 245, 1);
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.form__attention{
    margin: 0;
    color: rgba(21, 25, 32, 0.5);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    padding-top: 8px;
    padding-bottom: 8px;
}

.form__link{
    text-decoration: none;
    color: #3164F5;
    font-style: italic;
}

.form__inputTitle{
    margin: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #3164F5;

    padding-top: 8px;
    padding-bottom: 8px;
}

.form__input{
    width: 100%;
    height: 56px;

    border: 1px solid rgba(86, 103, 137, 0.26);

    padding: 16px;
    box-sizing: border-box;

    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
}

.form__input:focus{
    outline: 1px solid #3164F5;
}